/* ------------------------Наши клиенты------------------------ */
.clients {
  padding: 94px 0px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--headline-black-color);
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}
.clients__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover {
  border: 1px solid var(--accent-color);
}
.clients__link:hover .clients__icon {
  fill: var(--accent-color);
}
