/*---------------------особливості------------------  */
.features {
  padding: 60px 0;
}
.features__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}

.features__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  max-width: 450px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.features__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}
.features__title {
  color: var(--headline-black-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
