/* ----------------- футер -------------------- */
.footer {
  background-color: var(--bck-color);

  padding: 60px 0;
}
.footer__wrap {
  display: flex;
  align-items: baseline;
}
.footer__logo {
  display: inline-block;
  color: var(--main-white-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  margin-bottom: 20px;
}
.footer__address {
  color: var(--main-white-color);
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  margin-bottom: 9px;
  margin-right: 70px;
}
.accession {
  margin-right: 90px;
}
.footer__contact {
  display: inline-block;
  color: var(--main-black-color);
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
}

.footer__contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer__title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--main-white-color);
  margin-bottom: 20px;
}

.footer__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 0px 15px;
  background-color: var(--bck-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__btn {
  @include btn(200px);

  & .footer__btn--icon {
    margin-left: 10px;
  }
}
