/* --------------------- hero ------------------ */
.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
max-width: 480px;
  background-image: linear-gradient(to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../Image/heromobile.jpg');



  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {

    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), 
        url('../Image/heromobile2x.jpg');
  }

@media screen and (min-width:768px) {
    max-width: 768px;
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
      url('../Image/herotablet.jpg');

 

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {

      background-image: linear-gradient(to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)),
           url('../Image/herotablet2x.jpg');
    }

  }

@media screen and (min-width:1200px) {
  padding-top: 200px;
    padding-bottom: 200px;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../Image/hero.jpg);


  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  
    background-image: linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)), url('../Image/hero2x.jpg');  
}
  
}

 


}
.hero__headline {
  color: var(--main-white-color);
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 26px;
 line-height: calc(42 / 26);

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
      font-size: 44px;
        line-height: 1.36;
  }
}

.hero__btn {
  @include btn(216px);
}
