/* -------------- Наша команда --------------- */
.team {
  background-color: #f5f4fa;
  padding: 60px 0px;
  text-align: center;
  @media screen and(min-width:768px) and (max-width: 768px) {
    padding: -15px;
  }
  @media screen and(min-width:1200px) {
    padding: 94px 0px;
  }
}
.team__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: -15px;
    flex-wrap: wrap;
  }
  @media screen and(min-width:768px) {
    display: flex;
    justify-content: center;
  }
  @media screen and(min-width:1200px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.team__item {
  max-width: 450px;
  @media screen and(min-width:768px) {
    width: 354px;
    margin: 15px;
  }
  @media screen and(min-width:1200px) {
    width: 270px;
    margin: 0;
  }
  background-color: #fff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__content {
  margin: 30px 32px;
}
.team__title {
  color: var(--headline-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;

  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  margin-bottom: 16px;
}
