/* ----------------чим ми займаємося-----------------  */
.work {
  padding-bottom: 94px;
  text-align: center;
}
.work__list {
  display: flex;
  justify-content: space-between;
}
.work__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.work__img {
  display: block;
}
.work__text {
  position: absolute;

  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}
